
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Mi</title>
</head>
<body>
    <h1>¡Hola y bienvenidos a este proyecto!</h1>
    <h2>
        Mi nombre es Emanuel Andrés Bogado. Me apasiona la programación y encuentro que es una actividad tanto entretenida como valiosa debido a su alta demanda en el mercado laboral. Actualmente, tengo experiencia en el lenguaje Python, pero estoy muy interesado en expandir mis habilidades. Me gustaría aprender JavaScript, HTML, CSS, así como otros lenguajes como C++ y C# para desarrollar videojuegos.
        
        Muchas gracias por ayudarme/nos  en esta trayectoria educativa! que tengan un muy lindo dia.
    </h2>
</body>
</html>