{% extends "app/index.html" %}

{% block main %}
    <h1>¡Hola y bienvenidos a este proyecto!</h1>
    <h2>
        Mi nombre es Emanuel Andrés Bogado. Me apasiona la programación y encuentro que es una actividad tanto entretenida como valiosa debido a su alta demanda en el mercado laboral. Actualmente, tengo experiencia en el lenguaje Python, pero estoy muy interesado en expandir mis habilidades.
        Me gustaría aprender JavaScript, HTML, CSS, así como otros lenguajes como C++ y C# para desarrollar videojuegos.
        
        Muchas gracias por ayudarme/nos en esta trayectoria educativa. ¡Que tengan un muy lindo día!
    </h2>
{% endblock %}